.busList-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.back-to-customer {
    position: fixed;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e42799;
}